@model dotNetDashboard.Models.User

<h3>Tambah User</h3>

<form method="post">
    <div class="mb-2">
        <label>Username</label>
        <input name="Username" class="form-control" required />
    </div>
    <div class="mb-2">
        <label>Email</label>
        <input name="Email" class="form-control" required />
    </div>
    <div class="mb-2">
        <label>Role</label>
        <select name="Role" class="form-control">
            <option>Admin</option>
            <option>Standard</option>
        </select>
    </div>
    <div class="mb-2">
        <label>Password</label>
        <input type="password" name="Password" class="form-control" required />
    </div>
    <div class="mb-2">
        <label>Status</label>
        <select name="Status" class="form-control">
            <option value="true">Aktif</option>
            <option value="false">Non-Aktif</option>
        </select>
    </div>
    <button type="submit" class="btn btn-success">Simpan</button>
</form>
